// Mixins Here
.bottom-buttons (@backgroundColor, @buttonWidth) {
    background-color: @backgroundColor;
    text-align: center;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: @buttonWidth;
    color: @wild-sand;
    font-size: 1.6rem;

}