// Mixins Here
.bottom-buttons (@radiusBorder, @topPadding, @bottomPadding, @buttonWidth) {
    background-color: @btn-bg-color;
    text-align: center;
    border-radius: @radiusBorder;
    padding-top: @topPadding;
    padding-bottom: @bottomPadding;
    width: @buttonWidth;
    color: @wild-sand;
    font-size: 1.6rem;

}